
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
  background-color: #469165;
  padding:12px 16px;
  border:none;
  color:#FFFFFF;
  border-radius: 4px;
}
.btn-1{
   padding:12px 16px;
  border:none;
  color:#FFFFFF;
  border-radius: 4px;
  background: none;
  border:1px solid white;
}
.color-white{
  color:#FFFFFF
}
.color-green{
  color: #469165;
}







nav{
  max-width:1600px;
  height: 94px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding:0 120px;
}

.nav-list .list-item {
  display:flex;
  justify-content: space-around;
  gap:32px;
  list-style: none;
  font-size: 16px;
}
#section-header {
  background-image: url(../assets/hero-bg.png);
  width: 1600px;
  height: 674px;
  padding:116px 120px 180px;
  
}
#section-header .header-container{
  width: 1360px;
  height: 379px;
  text-align: center;
  
}
.header-container .layout-1 {
  width:229px;
  background-color: #FFFFFF;
  color: #469165;
  padding: 8px 12px;
  border: none;
  border-radius: 1000px;
  margin:0 auto;

}
.header-container .layout-2{
  font-size: 36px;
  line-height: 84px;
  margin-top:16px; 
}
.header-container .layout-3{
  font-size: 18px;
  color:#FFFFFF;
  margin-top: 16px;
}
.header-container .layout-4{
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap:16px;
}
#note{
  text-align: center;
  background-color: #FFFFFF;
}
#note .note-header {
  margin-top:50px;
}
#note .note-header h3{
  font-size: 48px;
}
#note .note-header p{
  font-size: 16px;
  line-height: 20px;
  margin-top:16px;
}
#note .card-container {
  margin-top:44px;
  display: flex;
  gap:24px;
  justify-content:space-between;
  align-items: center;
  padding:0 120px;
}
.card img{
  background-color: #F95555;
  border-radius: 30px;
  padding:10px;
  margin-top:45px;
}
.card-container .card {
  width: 322px;
  height: 300px;
  text-align: center;
  padding:24px;
  box-shadow: 0 0 8px #d8d4d4;
  border-radius: 8px;
  margin-bottom: 72px;

}
.card-container .card h5{
  margin:16px 0;
  color:#001931;
  font-size: 24px;
  font-weight: 600px;
}

.card-container .card p{
  font-size: 16px;
  line-height: 20px;
  color:#627382;
}



